:root{
  --color-purple: purple;
  --color-white: #fff;
  --color-brown: brown;
  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(https://images.unsplash.com/photo-1661923442484-466dc52317f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover  ;
}
.wrapper {
  position: relative;
  width: 420px;
  border: 2px solid var(--color-brown);
  background-color: var(--color-white);
}
.heading {
  height: 8vh;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-white);
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}
.heading .leftitem {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
  margin-left: 10px;
  gap: 40px;
  padding: 0.3rem;
  /* border: 1px solid white; */
}
.heading .leftitem p {
  font-size: 1.2rem;
  font-weight: bold;
}
.heading .rightitem {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
  /* border: 1px solid white; */
  margin-right: 10px;
  gap: 25px;
  padding: 0.4em;
}
.heading .leftitem .fa-reorder {
  cursor: pointer;
}
.heading .rightitem .fa-search {
  cursor: pointer;
}
.heading .rightitem .fa-trash {
  cursor: pointer;
}
.secondheading {
  height: 8vh;
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-white);
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
.secondheading .leftitem {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
  margin-left: 14px;
  gap: 30px;
  padding: 0.3rem;
}
.secondheading .leftitem p {
  font-weight: bold;
  font-size: 1.5rem;
}
.secondheading .rightitem {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  align-items: center;
font-size: 18px;
  margin-right: 10px;
  gap: 25px;
  padding: 0.4rem;
  cursor: pointer;
}
.secondheading .leftitem .fa-arrow-left {
  cursor: pointer;
}
.sidebar
{
  width: 50%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-black);
  display: none;
}
.sidebar .abovesidecontent
{
  height: 20%;
  width: 100%;
}
.sidebar .abovesidecontent p
{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}
.sidebar .middlesidecontent
{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--color-black);
  font-size: 20px;
  font-weight: bold;
}
.sidebar .middlesidecontent .lightthemecontent
{
 display: flex;
 justify-content: space-around;
 align-items: center;
 cursor: pointer;
 margin-bottom: 30px;
}
.sidebar .middlesidecontent .darkthemecontent
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  cursor: pointer;
 margin-top: 20px;
}
.sidebar .lowsidecontent
{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.sidebar .lowsidecontent p
{
  /* margin-top: 10px; */
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.notescontent
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 100%;
  height:88vh;
  display: none;
}
.notescontent #inputcontent
{
  height: 10%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
outline: none;
}
.notescontent #textcontent
{
  height: 50%;
  border: none;
outline: none;
font-size: 22px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.notescontent #inputcontent:focus
{
border: none;
outline: none;
}
.notescontent #textcontent:focus
{
  border: none;
  outline: none;
}
.body {
  height: 80vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1616628188725-0a474c982b5c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(150px,auto);
  gap: 7px;
  word-break: break-all;
  padding: 0.6rem;
}
.body div
{
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: auto;
}
.body div h3
{
  margin: 10px 0px;
}
.newnotes {
  height: 9vh;
  background-color:rgba(0, 0, 0, 0.95);
}
.newnotes .fa-plus-circle
{
  position: absolute;
  bottom: 15px;
  right: 5px;
  color: var(--color-white);
  cursor: pointer;
}